#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.filters {
  width: 400px;
  height: 40px;
  /* border: 1px solid red; */

  /* margin: 0 auto; */
  /* padding: 5px 1px; */
  display: flex;
}

.All {
  width: 40px;
  height: 15px;
  border: 1px solid black;

  padding: 5px;
  margin: 5px 2px;

  cursor: pointer;
}

.Websites {
  width: 70px;
  height: 15px;
  border: 1px solid black;

  padding: 5px;
  margin: 5px 2px;

  cursor: pointer;
}

.Flayers {
  width: 60px;
  height: 15px;
  border: 1px solid black;

  padding: 5px;
  margin: 5px 2px;

  cursor: pointer;
}

.Business-Cards {
  width: 100px;
  height: 15px;
  border: 1px solid black;

  padding: 5px;
  margin: 5px 2px;

  cursor: pointer;
}

.All:hover {
  background: black;
  color: rgb(252, 251, 251);
}

.Websites:hover {
  background: black;
  color: rgb(252, 251, 251);
}

.Flayers:hover {
  background: black;
  color: rgb(252, 251, 251);
}

.Business-Cards:hover {
  background: black;
  color: rgb(252, 251, 251);
}